.encabezado{
    background-color: black;
}
.menunav{
    background-color: blue;
}
.contenizq{
    background-color: brown;
}
.opciones{
    background-color: crimson;
}
.contender{
    background-color: blueviolet;
}